#python
__pycache__/
*.pyc
myvenv/
al_mlp.egg-info

#output files
*.ampdb
*.db
*.traj
*.amp
*.txt
*.pdf
*.OUTCAR
*.pt
*.gif
*.tar
*.out
*.pickle
*.png
*.json
*.h5
*.dirlock

test_figs/

.ipynb_checkpoints
*/checkpoints/*
stored-primes/
