#python
__pycache__/
*.pyc
myvenv/
finetuna.egg-info

#output files
*.ampdb
*.db
*.traj
*.amp
*.txt
*.pdf
*.OUTCAR
*.pt
*.gif
*.tar
*.out
*.pickle
*.png
*.h5
*.dirlock
*.lock
*.swp
*.lmdb
*.lmdb-lock

*/test_figs/*
*/dask-worker-space/*
*/logs/*

.ipynb_checkpoints
*/checkpoints/*
stored-primes/

# pytest outputs
.pytest_cache
